/*HOME*/
.index {
    background-color:black;
    color:whitesmoke;
    height:100%;
    width:100%;
}


.index__h1 {
    align-items:center;
    color:whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.1rem;
    letter-spacing: 0.6rem;
}

.nav {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.nav__list {
    list-style-type: none;
    font-family: 'Bebas Neue', cursive;
    padding: 0.3rem;
    font-size: 5.6rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
}

.anchor {
    text-decoration: none;
    color:#C49609;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

nav .anchor:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: #a21f30;
    transition: left .8s;
}

.anchor:hover:after {
    left: 0;
}

.anchor:hover {
    color:#a21f30;
}

.imagen {
    grid-area:imagen;
    display:flex;
    justify-content:center;
    overflow:hidden;
}

/*LANGUAGES*/

.nav__home {
    align-items:center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    letter-spacing: 10px;
    padding:20px;
    color:#a21f30;
    text-decoration: none;
}

.nav__home:hover {
    color:#C49609;
}

.header__title {
    color:#C49609;
    font-family: 'Bebas Neue', cursive;
    padding: 0.3rem;
    font-size: 5.6rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
}

.header__text {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
}

.carousel__h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    color:#a21f30;
}




/*FOOTER*/
.footer__list {
   display:flex;
   justify-content:center;
   padding-top:15px;
}

.footer__link {
   display:inline;
   font-family: 'Kanit', sans-serif;
   list-style-type: none;
   padding:  0px 15px;
}
                       
.footer li a {
   color:whitesmoke;
}

