.main {
    &__contenedor {
        @include flex-center-center-column;
    }
    &__h2title {
        padding:1rem;
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
        letter-spacing: 5px;
        color:map-get($colores, oro);
    }
    &__text {
        padding:1rem;
        font-family: 'Kanit', sans-serif;
        font-size: 1rem;
        letter-spacing: 5px;
        color:map-get($colores, texto);
    }
}

@media (min-width: 62rem) {
    .main__text {
        font-size: 2rem;
    }
}