.contact {
    padding:1rem;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    letter-spacing: 5px;
}

.h1-responsive {
    color:map-get($colores, oro);
    font-family: 'Bebas Neue', cursive;
    padding: 0.3rem;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.6rem;

}

@media (min-width: 62rem) {
    .contact {
        font-size: 1.5rem;
    }
    .h1-responsive{
        font-size: 4rem;
    }
}
