.nav__home {
    align-items:center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    letter-spacing: 10px;
    padding:20px;
    color:map-get($colores, bordo);
    text-decoration: none;
        &:hover {
            color:map-get($colores, oro);
        }
}

.header {
    &__title {
        color:map-get($colores, oro);
    font-family: 'Bebas Neue', cursive;
    padding: 0.3rem;
    font-size: 4rem; 
    font-weight: 900;
    letter-spacing: 0.6rem;
    }
    &__text {
        font-family: 'Kanit', sans-serif;
            font-size: 2rem;
            letter-spacing: 5px;
    }
}

.card {
    background-color:map-get($colores, fondo-negro);
    margin:auto;
    &:hover {
        color:map-get($colores, hover);
    }
}

.card-img-top{
    background-color:map-get($colores, fondo-negro);
}

.fondo-blanco {
    background-color:map-get($colores, blanco);
}

.acoderhouse {
    text-decoration: none;
    color:map-get($colores, texto);
    &:hover {
        color:map-get($colores, hover);
    }
}
