.footer__list {
    display:flex;
    justify-content:center;
    padding-top:15px;

   .footer__link {
      display:inline;
      font-family: 'Kanit', sans-serif;
      list-style-type: none;
      padding:  0px 15px;
      .anchor {
         color:map-get($colores, texto);
         &:hover {
            color:map-get($colores, hover);
         }
      }
   }
 }
 
 .mailto {
   list-style-type: none;
   color:map-get($colores, texto);
   text-decoration: none;
   &:hover {
   color:map-get($colores, hover);
   }
 }

 