$colores:(
    "texto": whitesmoke,
    "oro": #C49609,
    "bordo": #a21f30,
    "blanco":white,
    "fondo-gris":rgb(42, 42, 42),
    "fondo-negro":black,
    "hover":#4ca3f3
);

@each $color, $value in $colores {
    #{$color}{
        color:#{$value};
    }
}

@mixin flex-center-center-column {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
