@import "home";
@import "estilos";
@import "about";
@import "contact";
@import "footer";


$color-letras: whitesmoke;
$color-nav: #C49609;
$color-hover: #a21f30;

body {
    background-color:black;
}


